<table class="table table-striped">
    <thead>
    <tr>
        <th>Employee Name</th>
    </tr>
    </thead>
    <tbody>
    {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
<div class="form-group">
    <button type="getEmployee" onclick="location.href = 'http://localhost:3000/employee/';" class="btn btn-info"><i class="fa fa-reply"></i> back</button>
</div>